.question{
  background: #fefefe;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 12px;
  margin-bottom: 8px;
}

.question-empty{
  display: flex;
  justify-content: center;
}

.question p {
  color: #29292e
}

.question footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.highlighted{
  background: #f4f0ff;
  border: 1px solid #835afd;
}
.answered{
  background: #dbdbdb;
}

.user-info{
  display: flex;
  align-items: center;
}

.user-info img{
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.username{
  margin-left: 8px;
  color: #737380;
  font-size: 12px;
  width: 30px
}

button{
  cursor: pointer;
  background: transparent;
  border: 0;
}

.like-button{
  display: flex;
  align-items: flex-end;
  color: #737380;
  gap: 8px;
  transition: filter 0.2s;
}

.like-button:hover{
  filter: brightness(0.7);
}

.liked{
  color: #835afd;
  filter: brightness(0.7);
}

svg path{
  stroke: #835afd;
}